
    <div  class="contact-form">
        <h2>Connect to envirment</h2>
        <form    >
            
          <div class="form-group">
          <p>import file</p>
          <input type="file" id="file" name="file" accept=".sql"/>
          </div>
  
          <div class="form-group">
            <p> Name</p>
            <textarea type="text" name="lastName"  rows="50" cols="60" placeholder="Enter your last name" > </textarea>
          </div>
  
         

            
           
       
              
              
            <input type="submit"  value="Add" />
  
  
        </form>
    </div>
  
   